<!-- Nombre del curso -->
  <div class="submit-form">
      <div class="form-group">
        <label for="title">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          placeholder="Ingrese un nombre"
          name="title"
        />
      </div>
      <!-- Fecha de nacimiento -->
      <div class="form-group">
        <label for="startDate">Fecha de Nacimiento</label>
        <div>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" id="startDate" name="startDate" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-hint>Elija una fecha (MM/DD/AAAA)</mat-hint>
          </mat-form-field>
        </div>
      </div>
      
<button type="submit" class="btn btn-success">Agregar Alumno
	  </button>
  </div>

 