<div class="post-container">
<h1>Listado de Cursos</h1>
<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
     <form class="example-form">
          <mat-form-field class="example-full-width">
            <input
              type="text"
              placeholder="Buscar Curso"
              matInput
              [formControl]="myControl"
              (input)="searchTitle()"
            />
          </mat-form-field>
          <div class="input-group-append">
          </div>
        </form>
      <div class="input-group-append">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let curso of displayedCursos; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveElement(curso, i)"
      >
        {{ curso.nombre }}
        <div *ngIf="curso.tema">
          ({{ curso.tema.nombre }})
        </div>
      </li>
      <div *ngIf="displayedCursos.length === 0">No hay cursos con ese nombre.</div>
    </ul>
  </div>
  <div class="col-md-6">
    <app-curso-details [viewMode]="true" [currentElement]="currentElement"></app-curso-details>
  </div>
</div>
</div>