/* styles.css */

.post-container {
  background-color: #f2f2f2; /* Fondo gris claro */
  font-family: Arial, sans-serif;
  color: #333; /* Texto gris oscuro */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center; /* Centra el texto horizontalmente */
  margin-top: 20px; /* Añade un espacio en la parte superior para mejorar el diseño */
  color: #555;/* Título más oscuro */
} 
.submit-form {
  margin-top: 20px;
}

form {
  background-color: #fff; /* Fondo blanco */
  padding: 20px;
  border: 1px solid #ccc; /* Borde gris claro */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; /* Borde gris claro */
  border-radius: 5px;
  font-size: 16px;
}

.input-error {
  color: #d9534f; /* Color de error */
}

.btn.gray-button {
  background-color: #ccc; /* Fondo gris claro */
  color: #333; /* Texto gris oscuro */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn.gray-button:disabled {
  background-color: #e0e0e0; /* Fondo gris más claro para botón deshabilitado */
  color: #999; /* Texto gris más claro para botón deshabilitado */
}

.btn.gray-button:enabled:hover {
  background-color: #555; /* Cambia el color de fondo al pasar el mouse cuando el botón está habilitado */
  color: #fff; /* Cambia el color del texto al pasar el mouse cuando el botón está habilitado */
}

.alert.alert-success {
  background-color: #5cb85c; /* Fondo verde */
  color: #fff; /* Texto blanco */
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}
