<div class="post-container">
  <h1>Ingrese los datos del nuevo curso</h1>
  <!-- Nombre del curso -->
  <div class="submit-form">
    <form (ngSubmit)="saveCurso()" #cursoForm="ngForm">
      <div class="form-group">
        <label for="title">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          placeholder="Ingrese un nombre"
          name="title"
          [(ngModel)]="curso['nombre']" 
          #nombreInput="ngModel"
        />
        <div *ngIf="nombreInput.invalid && nombreInput.touched" class="text-danger">
          El nombre es obligatorio.
        </div>
      </div>

      <!-- Selector de temas -->
      <div class="form-group">
        <label for="tema">Tema</label>
        <select class="form-control" required [(ngModel)]="selectedTemaId" name="tema" (change)="updateMaterialesFiltrados()">
          <option value="0" disabled>Seleccione un tema</option>
          <option *ngFor="let tema of temas" [value]="tema.id">{{ tema.nombre }}</option>
        </select>
        <div *ngIf="cursoForm.controls['tema'].invalid && cursoForm.controls['tema'].touched" class="text-danger">
          Seleccione un tema.
        </div>
      </div>

      <!-- Fecha de inicio -->
      <div class="form-group">
        <label for="startDate">Fecha de inicio</label>
        <div>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" id="startDate" name="startDate" [min]="minDate | date:'yyyy-MM-dd'" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-hint>Elija una fecha, en caso contrario se utiliza la fecha actual.</mat-hint>
          </mat-form-field>
          <div *ngIf="cursoForm.controls['startDate']?.invalid && cursoForm.controls['startDate']?.touched" class="text-danger">
            Seleccione una fecha válida.
          </div>
        </div>
      </div>

      <!-- Selector de Profesor -->
      <div class="form-group">
        <label for="profesor">Profesor</label>
        <select class="form-control" required name="profesor" [(ngModel)]="selectedProfesor">
          <option value="0" disabled>Seleccione un profesor</option>
          <option value="1">Francisco Lopez</option>
          <option value="2">Martin Hernandez</option>
          <option value="3">Pedro Gallardo</option>
        </select>
        <div *ngIf="cursoForm.controls['profesor'].invalid && cursoForm.controls['profesor'].touched" class="text-danger">
          Seleccione un profesor.
        </div>
      </div>

      <!-- Botón para crear el curso -->
      <button type="submit" class="btn gray-button" [disabled]="cursoForm.invalid || selectedTemaId === 0 || selectedProfesor === 0">
  Añadir Curso
</button>

    </form>
  </div>

  <div *ngIf="submitted">
    <div class="alert alert-success">
      El curso se creó correctamente. Puede verlo en la lista de cursos.
    </div>
  </div>
</div>
